# fly.toml app configuration file generated for epstein-filter on 2026-02-05T23:15:05+04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'epstein-filter'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
